* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}


#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 100% !important;


}

#userHeader {
    display: flex;
    width: 100% !important;


}

.search {
    width: 30vw;
}

#userDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
}

.logo>img {
    width: 100%;
    border-radius: 50%;

}

.info {

    width: 40%;
    margin: 2rem;
    display: flex;
    flex-direction: column;

}

.info>div {
    margin: 2px 2px;
}

.name {
    font-size: 2rem;
    font-weight: 600;
}

.bio {
    color: grey;
}

.location {
    font-size: 1.5rem;
    font-weight: 500;
}

.media {
    font-size: 1.1rem;
    font-weight: 300;

}

/* repos */

.repo-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#repos {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 10px;
    width: 98%;
}

.repo {
    width: 49%;
    border: 2px solid black;
    margin: 5px;
}

.repo-name {
    font-size: 1.2rem;
    margin: 5px;
}

.repo-desc {
    font-size: 1.0rem;
    margin: 5px;
}

.repo-tools {
    font-size: 1.0rem;
    margin: 5px 7px;
    display: flex;
    gap: 1rem;

}

.search-btn{
    border-radius: 5rem !important; 
}

#input {
    width: 300px;
    height: 34px;
    border: 2px solid black;
    border-radius: 5rem;
    margin: 3px auto;
    font-weight: 500;
  
}




.search {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

}
#container-box{
    color: black !important;
}

@media only screen and (max-width: 600px) {
    #main {
        flex-wrap: nowrap;
    }
  }

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;

    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #0f0d0d #181514;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  .spiner{
    display: flex;
    justify-content: center;

}




  
